

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
       
  /* Center the form on the page */
  body {
    height: 100%;
    background-color: #f4e6e6;
    font-family: Arial, sans-serif;
    justify-content: center;
  }
  
  form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #5095ae;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  #cen{
    display: flex;
    justify-content: center;
    align-items: center;

  }